@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: 'Open Sans', sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.nav {
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 1em;
}
 
.nav a,
.nav a:link,
.nav a:visited {
  background-color: white;
  text-decoration: none;
  color: grey;  
  padding: .5em;

}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  color: white;
  text-decoration: none;
  background-color: #b4cdcd; 
  border-bottom: solid;
}

.navtop {
    padding: 0;
    list-style: none;
}

.navtop a {
    display: block;
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: white;
}
    
nav ul {
    margin: 0 auto;
    padding: 0;
}
  

nav li {
    font-family: 'Open Sans', sans-serif; 
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
    
nav a:hover {
    color: red;
}

nav a {
    color: #414042;
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 1px;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: 0.5em 0.75em;
  font-weight: bold;
}

.skip-links a:focus {
  top: 0;
}

.smalllogo {
    width: 100px;
}

.current {
    border-bottom: 3px solid;
}

.overflow {
    overflow: hidden;
}

.full {
    width: 100%;
}

.addmarginright{
    margin-right: 2em;
}

.ratlogo {
    width: 100%;
    max-width: 21em;
    text-align: center;
    margin: 0 auto;
}

.image100 {
    width: 100%;
}

.embed {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.embed-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

video {
    object-fit: cover;
}

.embed-16by9 {
    padding-top: 56.25%;
}

.squarifier {
    padding-top: 100%;
}

.rectanglifierleft {
    padding-top: 50%;
}

.rectanglifierright {
    padding-top: 50%;
}

.me {
    max-width: 375px;
}

.jack {
    background-image: url(../images/jack-whitesmall.jpg);
    background-size: cover;
}
    
.fell {
    background-image: url(../images/eyegif.gif);
    background-size: cover;
}

.a4w {
    background-image: url(../images/a4wlive.gif);
    background-size: cover;
}

.cfs {
    background-image: url(../images/ccfs.gif);
    background-size: cover;
}

.lilb {
    background-image: url(../images/lilb.gif);
    background-size: cover;
}

.daughter {
    background-image: url(../images/daughtersmall.jpg);
    background-size: cover;
}

.lucky {
    background-image: url(../images/luckycatsmall.gif);
    background-size: cover;
}

.millipede {
    background-image: url(../images/millismall.gif);
    background-size: cover;
}

.kitkat {
    background-image: url(../images/kitcat.gif);
    background-size: cover;
}

.tfc {
    background-image: url(http://portfolio-230c.kxcdn.com/tfc.mp4);
    background-size: cover;
}

.hand {
    background-image: url(../images/hand.gif);
    background-size: cover;
}

.placeholder {
    background-image: url(../images/placeholder.jpg);
    background-size: cover;
}

.mail {
    text-decoration: none;
    color: #484848 ;  
}

.copy {
    text-align: center;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.alignleft {
    text-align: left;
}

.alignright {
 text-align: right;
}

.link { 
    font-family: 'Open Sans', sans-serif;
}

.foot {
    background-color: #ccc;
}

.hide {
        display: none;
}

.show {
        display:inline;
}

.navbutton {
    max-width: 2.5em;
}

@media only screen and (min-width: 38em) {

.show {
    display: none;
}
    
    
.hide {
    display: inline;
    } 
    
.rectanglifierleft {
    padding-top: 50%;
    margin-right: 1em;
}

.rectanglifierright {
    padding-top: 50%;
    margin-left: 1em;
}

.aboutright {
    margin-left: 2em;
    max-width: 30em;
}
