<!DOCTYPE html>
<html lang="en-ca">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/portfolio.css" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl}}/images/favi.jpg">

  <meta property="og:type" content="article">
  <meta property="og:title" content="Braticate">
  <meta property="og:url" content="http://braticate.com">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="/images/spider.jpg">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="Braticate">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="A portfolio site for Marissa Godwin">
  
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Braticate">
  <meta name="twitter:url" content="http://braticate.com">
  <meta name="twitter:description" content="Portfolio site for Marissa Godwin">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="/images/spider.jpg">

        
</head>

<ul class="skip-links"> 
    
    <li><a href="#navigation">Jump to navigation</a></li>
    <li><a href="#main">Jump to main content</a></li>
</ul>  

 <header class="navbar">
        <div class="gutter grid grid-stretch">
            <nav role="navigation">
                <ul>
                   
                    <li class="top nav-link"><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}" aria-label="portfolio page">PORTFOLIO</a></li>
                    <li class="top nav-link"><a href="{{site.baseurl}}/about/" class="{% if page.url == '/about/' %}current{% endif %}" aria-label="about me page">ABOUT</a></li>
                    
                        </ul>        
                
            </nav>
        </div>
      
    </header>    
    
    <body>
        {{content}}
    </body>
    
        
<div class="pad-t gutter center">    
<a href="mailto:marissa.e.godwin@gmail.com" class="mail" aria-label="mail"><h2 class="location giga">marissa.e.godwin@gmail.com</h2></a> 
</div>  
    
<div class="center">
        
            <div class="center"><a href="https://instagram.com/braticate/"><img src="{{site.baseurl}}/images/instagram.png" class="navbutton" alt="Instagram logo" aria-label="Instagram link"></a>

   <a href="https://vimeo.com/braticate"><img src="{{site.baseurl}}/images/vimeo.png" class="navbutton" alt="Vimeo logo" aria-label="Vimeo link"></a>

          <a href="https://www.behance.net/marissae"><img src="{{site.baseurl}}/images/behance.png" class="navbutton" alt="Behance logo" aria-label="Behance link"></a>
                

    </div>
    </div>    
    
</main>
 

</html>